header{
    display: flex;
    flex-direction: row;
    background-color: brown;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    
}

header a{
    text-decoration: none;
    color: blanchedalmond;
    font-weight: 700;
    padding: 6vh;
    transition: ease-in background-color 0.2s;
    position: relative;
    
}

header a:hover{
    background-color: burlywood;
    color: rgb(55, 55, 55);
    font-weight: 900;

}